@import "tailwindcss";

:root {
  --bg: #f6f8fa;
  --surface: #ffffff;
  --border: #d0d7de;

  --text: #24292f;
  --text-muted: #57606a;

  --primary: #0969da;
  --secondary: #1f6feb;

  --success: #2da44e;
  --error: #cf222e;
  --warning: #bf8700;

  --accent: #8250df;
}

.dark {
  --bg: #0d1117;
  --surface: #161b22;
  --border: #30363d;

  --text: #c9d1d9;
  --text-muted: #8b949e;

  --primary: #58a6ff;
  --secondary: #1f6feb;

  --success: #3fb950;
  --error: #f85149;
  --warning: #d29922;

  --accent: #7c3aed;
}

@theme {
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-border: var(--border);

  --color-text: var(--text);
  --color-textMuted: var(--text-muted);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  --color-accent: var(--accent);
}
